@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    overflow-x: hidden;

}

.ustbilgi {

    width: 100%;
    height: 12%;
    padding-top: 0.15%;
    margin: 0px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #414142, black);
}

.sosyalMedya img {

    position: absolute;
    left: 10%;
    padding-top: 0.15%;

    text-align: left;
    width: 8%;

}

.sosyalMedya {
    text-align: right;
}

.sosyalMedya ul {
    list-style: none;
}

.sosyalMedya li {
    display: inline-block;



}

.sosyalMedya li a {
    text-decoration: none;
}

.sosyalMedya li i {
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    color: #fff;
}

.sosyalMedya li i:hover {

    border-radius: 5px;
    background: #e9c02a;
    background-image: linear-gradient(to top, #e9c02a, #414142);
}



.menuBar {
    border-top: 3px solid #e9c02a;
    background-image: linear-gradient(to top, black, #414142);
    text-align: center;
    width: 100%;
}

.menuBar ul {
    list-style: none;
}

.menuBar li {
    display: inline-block;
}
.menuBar li a {
    
    display: block;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
}
.arrow {
    border: solid rgb(255, 255, 255);
    
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin: 2px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
.menuBar li a:hover {
    border-radius: 5px;
    background: #e9c02a;
    background-image: linear-gradient(to top, #e9c02a, #414142);
}

.menuBar li ul  {
    border-radius: 0 5px 5px 5px;
    text-align: left;
    display: none;
    position: absolute;
    background: #414142;
    background-image: linear-gradient(to top, black, #414142);
    z-index: 5;
}

.menuBar li:hover ul {
    display: block;
}

.menuBar li ul li {
    display: block;
    position: relative;
}

.menuBar li ul li .acilirMenu{
    display: none;
    left:100%;
    position:absolute;
    top:0;
    width: 140%;
    
}
.menuBar li ul li:hover ul{
    display: block;
}


.genelYapi {
    height: auto;
    width: 100%;
}

.genelYapi .baslik {
    position: relative;
    z-index: 1;
    height: 200px;
}

.genelYapi .baslik .container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}

.genelYapi .baslik .container .satir {
    width: 100%;
    height: auto;
    margin-top: 70px;
}

.genelYapi .baslik #baslikFoto {
    width: 100%;
    height: 100%;
}

.genelYapi .baslik .container h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.genelYapi .baslik .container .satir ul li {
    list-style: none;
    display: inline-block;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
}

.genelYapi a {
    text-decoration: none;
    color: white;
}

.genelYapi .baslik .container .satir #gogus {
    color: #e9c02a !important;
}

.genelYapi a:hover {
    color: #e9c02a;
    transition: 0.3s;
}

.genelYapi .alt {
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 10px;
}

.genelYapi .alt .sol {
    width: 20%;
    height: auto;
    display: flex;
}

.genelYapi .alt .sag {
    width: 80%;
    height: 100%;
    margin-left: 10px;
}

.genelYapi .alt .sag .yazi {
    width: 100%;
    height: 120px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.genelYapi .alt .sol .foto {
    width: 90%;
    height: 120px;
}

.genelYapi img {
    width: 100%;
    height: 100%;
}

.genelYapi .alt .sag .hareketler {
    width: 100%;
    height: auto;
}

.genelYapi .alt .sag .hareketler .hareket {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    position: relative;
}

.genelYapi .alt .sag .hareketler .hareket .isimler {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #e9c02a;
}

.genelYapi .alt .sag .hareketler .hareket .fotograflar {
    width: 50%;
    height: 60%;
    margin: auto;
    margin-top: 20px;
}

.genelYapi .alt .sag .hareketler .hareket .ayri {
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: 20px;

}

body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid white;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: white;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container>.nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev,
.lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../images/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../images/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
  











footer {
    position: static;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.altBilgi {
    background-image: linear-gradient(to top, black, #414142);
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.altBilgi .solBolge,
.altBilgi .ortaBolge,
.altBilgi .sagBolge {
    display: inline-block;
    vertical-align: top;
}

/* Footer Sol */

.altBilgi .solBolge {
    width: 32%;
    text-align: center;

}

.altBilgi .solBolge img {
    width: 28%;
    


}

.altBilgi .miniBar {
    color: #ffffff;
    margin: 20px 0 12px;
}

.altBilgi .miniBar a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.enAlt {
    text-align: center;
    left: 40%;
    bottom: -200;
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;

}

/* Footer Orta */

.altBilgi .ortaBolge {
    width: 35%;
    padding-top: 15px;
}

.altBilgi .ortaBolge i {
    background-color: #414142;
    color: #e9c02a;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.altBilgi .ortaBolge i.fa-envelope {
    font-size: 20px;
    line-height: 38px;
}

.altBilgi .ortaBolge i.fa-house-chimney {
    font-size: 20px;
    line-height: 38px;
}

.altBilgi .ortaBolge i.fa-phone {
    font-size: 20px;
    line-height: 38px;
}

.altBilgi .ortaBolge p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.altBilgi .ortaBolge p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.altBilgi .ortaBolge p a {
    color: #ffffff;
    text-decoration: none;
    ;
}

/* Footer SaÄŸ */

.altBilgi .sagBolge {
    width: 25%;
}

.altBilgi .altIcon {
    padding-left: 75px;
    padding-bottom: 25px;
    margin-top: 25px;
}

.altBilgi .altIcon .icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 3px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 20px;
}

.altBilgi .altIcon .yazi {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}

.altBilgi .altIcon .icon.facebook:hover {
    background-color: #3b5998;
}

.altBilgi .altIcon .icon.instagram:hover {

    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

}

.altBilgi .altIcon .icon.twitter:hover {
    background-color: #00acee;
}

.miniBar a:hover {
    color: #e9c02a;
}

@media (max-width: 880px) {

    .altBilgi .solBolge,
    .altBilgi .ortaBolge,
    .altBilgi .sagBolge {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .altBilgi .ortaBolge i {
        margin-left: 0;
    }
}