@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    overflow-x: hidden;

}

.ustbilgi {

    width: 100%;
    height: 12%;
    padding-top: 0.15%;
    margin: 0px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #414142, black);
}

.sosyalMedya img {

    position: absolute;
    left: 10%;
    padding-top: 0.15%;

    text-align: left;
    width: 8%;

}

.sosyalMedya {
    text-align: right;
}

.sosyalMedya ul {
    list-style: none;
}

.sosyalMedya li {
    display: inline-block;



}

.sosyalMedya li a {
    text-decoration: none;
}

.sosyalMedya li i {
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    color: #fff;
}

.sosyalMedya li i:hover {

    border-radius: 5px;
    background: #e9c02a;
    background-image: linear-gradient(to top, #e9c02a, #414142);
}



.menuBar {
    border-top: 3px solid #e9c02a;
    background-image: linear-gradient(to top, black, #414142);
    text-align: center;
    width: 100%;
    
}

.menuBar ul {
    list-style: none;
}

.menuBar li {
    display: inline-block;
}
.menuBar li a {
    
    display: block;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
}
.arrow {
    border: solid rgb(255, 255, 255);
    
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin: 2px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
.menuBar li a:hover {
    border-radius: 5px;
    background: #e9c02a;
    background-image: linear-gradient(to top, #e9c02a, #414142);
}

.menuBar li ul  {
    border-radius: 0 5px 5px 5px;
    text-align: left;
    display: none;
    position: absolute;
    background: #414142;
    background-image: linear-gradient(to top, black, #414142);
    z-index: 5;
}

.menuBar li:hover ul {
    display: block;
}

.menuBar li ul li {
    display: block;
    position: relative;
}

.menuBar li ul li .acilirMenu{
    display: none;
    left:100%;
    position:absolute;
    top:0;
    width: 140%;
    
}
.menuBar li ul li:hover ul{
    display: block;
}



section{
    position: relative;
    left:500px;
    border-radius: 50px;
    border: 5px solid #e9c02a;
    background: linear-gradient(to top, black ,#414142 );
  
  }
  

  
  .secclass
  {
    height: 350px;
    width: 690px;

  }
  
  .kaloribaslik{
    background-color: #e9c02a;
    color:#414142;
    width: 18%;
    border-radius: 50px;
    margin-left: 680px;
    position: relative;
    top: 27px;
    z-index: 2;
    
  }
  
  .application
  {
    position: relative;
    top: 40px;
  }
  
  .radio-buttons{
    position: relative;
    left: 25%;
    color: white;
  }

  .kdn{
    position: relative;
    left: 10.5%;
  }

  input#age.age-field
  {
    position: relative;
    left: 4.9%;
  }
  
  .radio-buttons .label{
    position: relative;
    right: 5%;
    color: white;
  }
  
  .yaslabel{
    position: relative;
    left: 20.2%;  
    margin-top: 35px;
    margin-bottom: -10px;
    color: white;
  }
  
  .yaslabel .age-field {
    position: relative;
    left: 2%;
  }
  
  .boylabel 
  {
    position: relative;
    left: 20.2%;
    top: -40px;
    color: white;
  }

  input#cm.boyfield
  {
    position: relative;
    left: 3.2%;
  }
  
  .boylabel .boyfield{
    position: relative;
    left: 1.5%;
  }
  
  .kilolabel{
    position: relative;
    left: 20.2%;
    top: -10px;
    color: white;
  }
  
  input#kg.kilofield
  {
    position: relative;
    left: 4.9%;
  }

  .kilolabel .kilofield{
    position: relative;
    left: 1.9%;
  }
  
  .kal {
    position: relative;
    margin-top: -220px;
    left: 45%;
  }
  
  .kitind {
    position: relative;
    left: 45%;
    margin-top: 100px;
  }
  
  .secclass .bn30{
    position: relative;
    left: 57%;
    top: -70px;
  }
  
  
  .bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #414142, #e9c02a);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #414142, #e9c02a);
  }
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #414142, #e9c02a);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .bn30:hover .text {
    background-image: linear-gradient(-45deg, #414142, #e9c02a);
  }

  input#submit.bn30
  {
    position: relative;
    left: 250px;
    top: -50px;
  }

  input#resetle.bn32
  {
    position:relative;
    left: 520px;
    top: -51px;
  }

  .bn32 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #414142, #e9c02a);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .bn32 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #414142, #e9c02a);
  }
  
  .bn32:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn32:hover {
    background-image: linear-gradient(-45deg, #414142, #e9c02a);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .bn32:hover .text {
    background-image: linear-gradient(-45deg, #414142, #e9c02a);
  }
  
  .results-container{
    position:relative;
    left: 120%;
    top: -120px;
  }
  
  .reso{
    position: relative;
    left: 120%;
    top: 70px;
    font-size: 20px;
  }
  
  .baslik {
    position: relative;
    height: 200px;
    z-index: 1;
  }
  
  .baslik .container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .satir {
    width: 100%;
    height: auto;
    margin-top: 70px;
  
  }
  
  #baslikFoto {
    width: 100%;
    height: 100%;
  }
  
  .satir h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 800;
  }
  
  .satir ul li {
    list-style: none;
    display: inline-block;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
  }
  
  
  
  .baslik a {
    text-decoration: none;
    color: white;
  }
  
  
  
  .baslik a:hover {
    color: #e9c02a;
    transition: 0.3s;
  }
  
  .sonuckutusu
  {
    position: relative;
    border: 0px;
    left: 720px;
    bottom: 190px;
    font-size: 25px;
    width: fit-content;
  }
  
  .bmikilo
  {
    position: relative;
    border: 0px;
    left: 250px;
    font-size: 25px;
    width: fit-content;
  }
  
  .calorie
  {
    position: relative;
    border: 0px;
    font-size: 25px;
    width: fit-content;
    left: 720px;
    top: -120px;
  }
  
  .kaloriyazi
  {
  position: relative;
  left: 720px;
  visibility: hidden;
  top: -200px;
  }
  
  .endeksyazi
  {
    position: relative;
    visibility: hidden;
    left: 720px;
    top: -300px;
  }



        











footer {
    position: static;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.altBilgi {
    background-image: linear-gradient(to top, black, #414142);
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.altBilgi .solBolge,
.altBilgi .ortaBolge,
.altBilgi .sagBolge {
    display: inline-block;
    vertical-align: top;
}

/* Footer Sol */

.altBilgi .solBolge {
    width: 32%;
    text-align: center;

}

.altBilgi .solBolge img {
    width: 28%;
    


}

.altBilgi .miniBar {
    color: #ffffff;
    margin: 20px 0 12px;
}

.altBilgi .miniBar a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.enAlt {
    text-align: center;
    left: 40%;
    bottom: -200;
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;

}

/* Footer Orta */

.altBilgi .ortaBolge {
    width: 35%;
    padding-top: 15px;
}

.altBilgi .ortaBolge i {
    background-color: #414142;
    color: #e9c02a;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.altBilgi .ortaBolge i.fa-envelope {
    font-size: 20px;
    line-height: 38px;
}

.altBilgi .ortaBolge i.fa-house-chimney {
    font-size: 20px;
    line-height: 38px;
}

.altBilgi .ortaBolge i.fa-phone {
    font-size: 20px;
    line-height: 38px;
}

.altBilgi .ortaBolge p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.altBilgi .ortaBolge p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.altBilgi .ortaBolge p a {
    color: #ffffff;
    text-decoration: none;
    ;
}

/* Footer SaÄŸ */

.altBilgi .sagBolge {
    width: 25%;
}

.altBilgi .altIcon {
    padding-left: 75px;
    padding-bottom: 25px;
    margin-top: 25px;
}

.altBilgi .altIcon .icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 3px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 20px;
}

.altBilgi .altIcon .yazi {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}

.altBilgi .altIcon .icon.facebook:hover {
    background-color: #3b5998;
}

.altBilgi .altIcon .icon.instagram:hover {

    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

}

.altBilgi .altIcon .icon.twitter:hover {
    background-color: #00acee;
}

.miniBar a:hover {
    color: #e9c02a;
}

@media (max-width: 880px) {

    .altBilgi .solBolge,
    .altBilgi .ortaBolge,
    .altBilgi .sagBolge {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .altBilgi .ortaBolge i {
        margin-left: 0;
    }
}